@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --neutral-forte: hsl(0, 0%, 78%);
  --neutral-terceira: hsl(217, 61%, 90%);
  --neutral-secundaria: hsl(0, 0%, 93%);
  --neutral-principal: hsl(200, 60%, 99%);
  --contraste: rgb(0, 0, 0);

  --shadow: 1px 1px 4px rgba(0, 0, 0, 0.365);
  --text: rgb(1, 1, 1);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --cor-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
}

[data-theme="dark"] {
  --neutral-forte: hsl(227, 75%, 14%);
  --neutral-terceira: #1d1e26;
  --neutral-secundaria: #4d4e53;
  --neutral-principal: #363740;
  --contraste: rgb(255, 255, 255);

  --shadow: 1px 1px 4px rgba(122, 122, 122, 0.144);
  --text: rgb(177, 177, 177);

  --cor-gradient: linear-gradient(180deg, #1d1e26 0%, #091540 100%);
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "Noto sans";
}

#corpao {
  width: 100%;
  overflow-x: hidden;
  background: var(--cor-gradient) no-repeat;
  background-color: var(--neutral-forte);
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

h1,
h2,
p,
#btnButtonMode,
.selecao button {
  color: var(--text);
}

.extensionMode {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: var(--neutral-principal);
  padding: 10px;
  box-shadow: var(--shadow);
}

#btnThemeMode {
  width: 2.6rem;
  height: 2.6rem;
  background-color: var(--neutral-secundaria);
  border-radius: 7px;
}

#btnThemeMode button:focus,
.selecao button:focus,
#remove:focus {
  outline: 2px solid var(--red-400);
  outline-offset: 1px;
}
input:focus {
  outline: 2px solid red;
}
#btnThemeMode button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 7px;
}
#btnThemeMode img {
  width: 60%;
  max-width: 35px;
}
#categoria {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1137px) {
  #categoria{justify-content: center;}
}

#extensionList {
  white-space: nowrap;
}
.selecao {
  flex-basis: 300px;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  gap: 10px;
}

.selecao button {
  background-color: var(--neutral-secundaria);
  font-size: 1.3rem;
  border-radius: 1.5rem;
  padding: 0.4rem;
  flex-basis: 300;
  flex-grow: 1;
  flex-shrink: 1;
  cursor: pointer;
  border: 1px solid var(--neutral-forte);
  box-shadow: var(--shadow);
}

.selecao button:hover {
  transition: 0.2s;
  background-color: var(--red-500);
  color: var(--neutral-forte);
}
.divisao {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
}

.containerItem {
  background-color: var(--neutral-principal);
  border-radius: 15px;
  flex-basis: 500px;
  padding: 20px;
  border: 1px solid var(--neutral-forte);
  box-shadow: var(--shadow);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}
.info {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr;
}

.logos {
  float: left;
  width: 70%;
  height: 70%;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 2;
}
.nameItem {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: -1;
}
.infoItem {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.removeAndActive {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#remove {
  background-color: transparent;
  border: 1px solid var(--neutral-forte);
  padding: 6px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--contraste);
}

#remove:hover {
  transition: 0.2s;
  background-color: var(--red-700);
  color: var(--neutral-terceira);
}

#active {
  background-color: transparent;
}

/* Container do switch */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Esconde o checkbox padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Trilho */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(124, 124, 124); /* cor de fundo desligado */
  transition: 0.3s;
  border-radius: 20px;
}

/* Bolinha */
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

/* Quando está ligado */
.switch input:checked + .slider {
  background-color: var(--red-700); /* mantém o fundo escuro */
}
.switch input:checked + .slider:hover {
  background-color: var(--red-400); /* mantém o fundo escuro */
}

.switch input:checked + .slider:before {
  transform: translateX(1rem); /* move a bolinha pra direita */
}
