@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "Noto sans";
}

body {
  width: 100%;
  background: var(--dark-gradient) no-repeat;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
.focused:focus {
  outline: 2px solid var(--red-400);
}

.extensionMode {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: var(--neutral-700);
  padding: 10px;
}

#btnThemeMode {
  width: 2.6rem;
  height: 2.6rem;
  background-color: var(--neutral-600);
  border-radius: 7px;
  cursor: pointer;
}
#categoriaCenter {
  margin-top: 2rem;
}

#extensionList {
  text-align: center;
}
.selecao {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
}

.selecao button {
  background-color: var(--neutral-700);
  font-size: 1.3rem;
  border-radius: 1.5rem;
  padding: 0.9rem;
  flex-basis: 300;
  flex-grow: 1;
  flex-shrink: 1;
  cursor: pointer; 
}
.divisao {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.containerItem {
  background-color: var(--neutral-700);
  border-radius: 15px;
  padding: 20px;
  border: 1px solid grey;
}

.logo {
  float: left;
}
.removeAndActive {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#remove {
  background-color: transparent;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

#remove:hover {
  background-color: var(--red-500);
  color: var(--neutral-900);
}
#active {
  background-color: transparent;
}

/* Container do switch */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Esconde o checkbox padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Trilho */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-600); /* cor de fundo desligado */
  transition: 0.3s;
  border-radius: 20px;
}

/* Bolinha */
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--neutral-0);
  transition: 0.3s;
  border-radius: 50%;
}

/* Quando está ligado */
.switch input:checked + .slider {
  background-color: var(--red-400); /* mantém o fundo escuro */
}

.switch input:checked + .slider:before {
  transform: translateX(16px); /* move a bolinha pra direita */
background-color: var(--neutral-0);
}
